<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/people.png" alt="Logo">
    <span class="app-title">Customer Manager</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Customers</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Orders</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
