<form>
  <label for="">Email </label>
  <input type="email" #email>

  <label for="">Password </label>
  <input type="password" #password name="" id="">

  <a class="needsLogin">
    <span *ngIf="needsLogin()">Login</span>
    <span *ngIf="!needsLogin()">Logout</span>
  </a>

  <a class="needsUserLogin">
    <span *ngIf="needsUserLogin">Login</span>
    <span *ngIf="!needsUserLogin">Logout</span>
  </a>


  <button type="button" (click)="login(email.value,password.value)" [disabled]="!enabled">Login</button>
</form>
