<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center" ng-bind="::auth.title"></h1>
        <p class="text-xs-center">
          <a ui-sref="app.login" ng-show="auth.authType === 'register'">
            Have an account?
          </a>
          <a ui-sref="app.register" ng-show="auth.authType === 'login'">
            Need an account?
          </a>
        </p>
        <ul class="error-messages" ng-show="auth.errors">
          <div ng-repeat="(field, errors) in auth.errors">
            <li ng-repeat="error in errors">
              {{field}} {{error}}
            </li>
          </div>
        </ul>

        <form ng-submit="auth.submitForm()">
          <fieldset ng-disabled="auth.isSubmitting">

            <fieldset class="form-group" ng-show="auth.authType === 'register'">
              <input class="form-control form-control-lg" type="text" placeholder="Username" ng-model="auth.formData.username" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" ng-model="auth.formData.email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password" ng-model="auth.formData.password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit" ng-bind="auth.title">
            </button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>