<div class="orders view">
  <div class="container">
    <header>
      <h3><span class="fa fa-user"></span>&nbsp;&nbsp;Customer Information</h3>
    </header>
    <br />
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="toolbar-item">
          <a [routerLink]="['/details']" routerLinkActive="active">
            <span class="fa fa-list"></span>&nbsp;&nbsp;Customer details
          </a>
        </li>
        <li class="toolbar-item">
          <a [routerLink]="['/orders']" routerLinkActive="active">
            <span class="fa fa-tags"></span>&nbsp;&nbsp;Customer orders
          </a>
        </li>
        <li class="toolbar-item">
          <a [routerLink]="['/edit']" routerLinkActive="active">
            <span class="fa fa-edit"></span>&nbsp;&nbsp;Edit Customer
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
      <br />
      <br />
      <a [routerLink]="['/customers']">View all customers</a>
    </div>
  </div>
</div>
